body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(217, 217, 217, 0.952),
                -5px -5px 10px rgba(217, 217, 217, 0.952);
    width: 60%;
    height: 60%;
    text-align: center;
}
.container input{
    border-radius: 4px;
    box-shadow: inset 0 0 10px 5px #e6e6e6;
    width: 80%;
    height: 10vh;
    margin-top: 5vh;
    margin: 5vh auto 0 auto;
    padding-right: .5rem;
    background-color: none;
    display: inline-block;
    text-align: right;
}
.container .buttons{
    display: grid;
    margin-top: 5vh;
    width: 80%;
    height: 50%;
    grid-template-columns: repeat(6, 13%);
    grid-auto-rows: minmax(20% auto);
    justify-content: space-between;
    grid-gap: 1vh;
    border: 1vh;
    margin: 4vh auto;
}
.container .buttons .button{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(236, 236, 236, 0.952),
                -2px -2px 2px rgba(236, 236, 236, 0.952);
    border-radius: .5vh;
    height: 6vh; 
}
.container .buttons .button:hover{
    background-color: rgb(228, 234, 198);
}
.container .buttons .button:active{
    background-color: rgb(105, 233, 133);
}
.container .buttons #ce-btn{
    background-color: rgb(49, 182, 58);
    color: #e6e6e6;
}
.container .buttons #ce-btn:hover{
    background-color: rgb(35, 102, 39);
}
.container .buttons #ce-btn:active{
    background-color: rgb(10, 61, 14);
}
.container .buttons #equal-btn{
    background-color: rgb(101, 104, 196);
    color: #e6e6e6;
}
.container .buttons #equal-btn:hover{
    background-color: rgb(68, 72, 145);
}
.container .buttons #equal-btn:active{
    background-color: rgb(48, 54, 170);
}

